name: Reusable C++ Build Template

on:
  workflow_call:
    inputs:
      build_types:
        required: true
        type: string
      upload_artifacts:
        required: false
        type: boolean
        default: false
      
    outputs:
      artifact_id:
        description: "The run ID to download artifacts from later."
        value: ${{ jobs.build.outputs.artifact_id }}

jobs:
  build:
    name: Build & Test ${{ matrix.os }} (${{ matrix.build_type }})
    runs-on: ${{ matrix.os }}
    
    outputs:
      artifact_id: ${{ github.run_id }}
      
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: ${{ fromJson(inputs.build_types) }}

    defaults:
      run:
        shell: bash

    steps:
      - name: 1. Checkout code
        uses: actions/checkout@v6

      - name: 2. (Windows) Setup MSVC environment
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1 # prefpare environment for Ninja

      - name: 2. (Linux) Install dependencies
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y ninja-build


      - name: 3. Extract Version
        id: get_version
        shell: bash
        run: |
          if [[ $GITHUB_REF == refs/tags/v*.*.* ]]; then
            GIT_TAG=${GITHUB_REF#refs/tags/}
          else
            GIT_TAG="v0.0.0-pr-${GITHUB_SHA::7}"
          fi
          echo "Detected tag: $GIT_TAG"
          echo "GIT_TAG=$GIT_TAG" >> $GITHUB_ENV

      - name: 4. Configure CMake
        run: |
          cmake -S . -B build -G "Ninja" \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DEPUZZLE_GIT_TAG=${{ env.GIT_TAG }} \
            -DEPUZZLE_BUILD_TESTS=ON \
            -DEPUZZLE_BUILD_APPS=ON

      - name: 5. Build
        run: cmake --build build --config ${{ matrix.build_type }}

      - name: 6. Test
        working-directory: ./build
        run: ctest -C ${{ matrix.build_type }} --output-on-failure --verbose

      
      - name: 7 Package Application (CPack)
        if: inputs.upload_artifacts
        working-directory: ./build
        run: cpack -C ${{ matrix.build_type }}

      - name: 7.1 (Windows) Package Debug Symbols (PDB)
        if: inputs.upload_artifacts && matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          $ReleaseDir = "${{ matrix.build_type }}"
          $cpackFile = Get-ChildItem -Path build -Filter *.zip | Select-Object -First 1
          if ($cpackFile -ne $null) {
              $baseName = $cpackFile.BaseName
              $pdbZipName = "${baseName}-debug-symbols.zip"
              Compress-Archive -Path build/bin/pdb/*.pdb -DestinationPath "build/$pdbZipName"              
              Write-Host "PDB symbols packaged as: $pdbZipName"
          } else {
              Write-Host "Warning: CPack ZIP file not found. Skipping PDB packaging."
          }

      - name: 8. Upload Artifacts
        if: inputs.upload_artifacts
        uses: actions/upload-artifact@v6
        with:
          # Используем уникальное имя, чтобы не было конфликтов (os-buildtype)
          name: package-${{ matrix.os }}-${{ matrix.build_type }}
          path: |
            build/*.deb
            build/*.tar.gz
            build/*.zip