name: Reusable C++ Build Template

on:
  workflow_call:
    inputs:
      build_types:
        required: true
        type: string
      upload_artifacts:
        required: false
        type: boolean
        default: false
      
    outputs:
      artifact_id:
        description: "The run ID to download artifacts from later."
        value: ${{ jobs.build.outputs.artifact_id }}

jobs:
  build:
    name: Build & Test ${{ matrix.os }} (${{ matrix.build_type }})
    runs-on: ${{ matrix.os }}
    
    outputs:
      artifact_id: ${{ github.run_id }}
      
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: ${{ fromJson(inputs.build_types) }}

    steps:
      - name: 1. Checkout code
        uses: actions/checkout@v6

      - name: 2. Setup MSVC environment (Windows)
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1 # prefpare environment for Ninja

      - name: 3. Install dependencies (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y ninja-build


      - name: 4. Configure CMake
        run: |
          cmake -B build -G "Ninja" \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DEPUZZLE_BUILD_TESTS=ON \
            -DEPUZZLE_BUILD_APPS=ON

      - name: 5. Build
        run: cmake --build build --config ${{ matrix.build_type }}

      - name: 6. Test
        working-directory: ./build
        run: ctest -C ${{ matrix.build_type }} --output-on-failure --verbose

      
      - name: 7. Package Application (CPack)
        if: inputs.upload_artifacts
        working-directory: ./build
        run: cpack -C ${{ matrix.build_type }}

      - name: 8. Package Debug Symbols (PDB) - Windows
        if: inputs.upload_artifacts && matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          $ReleaseDir = "${{ matrix.build_type }}"
          New-Item -ItemType Directory -Force -Path symbols
          Get-ChildItem -Path build/bin/pdb -Recurse -Filter *.pdb | Copy-Item -Destination symbols
          Compress-Archive -Path symbols/* -DestinationPath build/debug-symbols-windows-${{ matrix.build_type }}.zip

      - name: 9. Upload Artifacts
        if: inputs.upload_artifacts
        uses: actions/upload-artifact@v6
        with:
          # Используем уникальное имя, чтобы не было конфликтов (os-buildtype)
          name: package-${{ matrix.os }}-${{ matrix.build_type }}
          path: |
            build/*.tgz
            build/*.zip